
<p id="notice"><%= notice %></p>
<div class="row">
	<div class="five columns">
	<p>
	  <strong>Sender:</strong>
	  <%= @ingredient.sender %>
	</p>

	<p>
	  <strong>Reciever:</strong>
	  <%= @ingredient.reciever %>
	</p>

	<p>
	  <strong>From:</strong>
	  <%= @ingredient.from %>
	</p>

	<p>
	  <strong>To:</strong>
	  <%= @ingredient.to %>
	</p>

	<p>
	  <strong>Contents:</strong>
	  <%= @ingredient.contents %>
	</p>

	<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
	<%= link_to 'Back', ingredients_path %>
</div>
<div class="seven columns">
	<div style='width: 800px;'>
	  <div id="directions" style='width: 700px; height: 400px;'></div>
	</div>
</div>

</div>



<script type="text/javascript">
var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
  var origin      = new google.maps.LatLng(gon.f_lat, gon.f_lng);
  var destination = new google.maps.LatLng(gon.t_lat, gon.t_lng);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.DRIVING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'directions'}}, function(){
	
  directionsDisplay.setMap(handler.getMap());
});
</script>